{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <form method="post" action="/purchase">
        <h1>Manage purchses</h1>
        <div class="mb-3">
          <label for="input-box" class="form-label">Medicin Name</label>
          <input
            type="text"
            class="form-control"
            id="input-box"
            name="medname"
            placeholder="Medicin Name"
            required
          />
          <div class="result-box1"></div>
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Date of Purchase</label>
            <input type="date" class="form-control" name='Pdate' id="exampleFormControlInput2" placeholder="Date of Purchase" required >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Enter quantity</label>
            <input type="number" class="form-control" name='quantity' id="exampleFormControlInput3" placeholder="Enter quantity" required >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput4" class="form-label">Enter price of one</label>
            <input type="number" class="form-control"  name='price' id="exampleFormControlInput4" placeholder="Enter price of one" name='price' required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput5" class="form-label">Enter expiry date</label>
            <input type="date" class="form-control" name='expiry' id="exampleFormControlInput5" placeholder="Enter expiry date"required >
        </div>
        <button type="submit" class="btn btn-outline-primary">Add</button>
        <a href='/adminpanel'><button type="button" class="btn btn-outline-warning">Admin page</button></a>
    </div>
        </form>
          </div>
            <div style='overflow:scroll; width:850px;height:600px;'>
            <form method="post" action="/delete">
            <table class="table" id="medicineTable">
                <thead>
                  <tr>
                    <th></th>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Medicin Name</th>
                    <th scope="col">Date of Purchase</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Cost of one</th>
                    <th scope="col">Expiry Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% if all_data %}
                  {% for med_details in all_data %}
                  <tr>
                    <td><input type="checkbox" name="selected_rows" value="{{ loop.index0 }}"></td>
                    <th scope="row">{{ loop.index0 + 1 }}</th>
                    <td>{{ med_details['medname'] }}</td>
                    <td>{{ med_details['Pdate'] }}</td>
                    <td>{{ med_details['quantity'] }}</td>
                    <td>{{ med_details['price'] }}</td>
                    <td>{{ med_details['expiry'] }}</td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
              <button type="submit" class="btn btn-outline-success" {% if not all_data %}style="display:none"{% endif %}>Delete</button>
            </form>
            </div>
          </div>
      </div>
      <script>

    function initializeAvailableKeywords() {
        availableKeywords = {{medname | safe }}
        console.log('availableKeywords',availableKeywords);
    }
    initializeAvailableKeywords();
    const resultbox = document.querySelector(".result-box1");
    const inputBox = document.querySelector("#input-box");
    inputBox.onkeyup = function () {
        let result = [];
        let input = inputBox.value;
        console.log(input);
        if (input.length) {
            result = availableKeywords.filter((keyword) => {
                return keyword.toString().toLowerCase().includes(input.toLowerCase());
            });
            console.log(result);
        }
        display(result);
        if (!result.length) {
            resultbox.innerHTML = '';
        }
    };

    // Function to display filtered keywords
    function display(result) {
        const content = result.map((list) => {
            return "<li onclick=selectinput(this)>" + list + "</li>";
        });
        resultbox.innerHTML = "<ul>" + content.join("") + "</ul>";
    }

    // Function to select input
    function selectinput(list) {
    console.log("Selected list item: ", list.innerHTML);
    inputBox.value = list.innerHTML;
    resultbox.innerHTML = '';
    inputBox.dispatchEvent(new Event('keyup'));
    resultbox.innerHTML = '';
}
    </script>
{% endblock body %}
