{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <form class="d-flex mt-3" method="GET" action="{{ url_for('search_sales') }}" role="search">
            <input class="form-control me-2" name='query' type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <br>
          <a href='/adminpanel'><button type="button" class="btn btn-outline-warning">Admin page</button></a>
          <div>
            <div style='overflow:scroll; width:100vw;height:600px;'>
            <table class="table">

                <thead>
                  <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Medicin Name</th>
                    <th scope="col">Date of Purchase</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Cost of one</th>
                  </tr>
                </thead>
                <tbody>
                  {% if sales_data %}
                  {% for med_details in sales_data %}
                  <tr>
                    <td><input type="checkbox" name="selected_rows" value="{{ loop.index0 }}"></td>
                    <th scope="row">{{ loop.index0 + 1 }}</th>
                    <td>{{ med_details['customer_name'] }}</td>
                    <td>{{ med_details['medname'] }}</td>
                    <td>{{ med_details['quantity'] }}</td>
                    <td>{{ med_details['price'] }}</td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
      </div>



{% endblock body %}
