{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Manage Stock</h1>
        <button type="button" class="btn btn-outline-primary">Low Quantity</button>
        <button type="button" class="btn btn-outline-danger">Show all</button>
      </div>
      <div class="col-8">
        <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div style='overflow:scroll; width:850px;height:600px;'>
                <table class="table">
                    <thead>
                        <tr>
                          <th></th>
                          <th scope="col">Sr.No</th>
                          <th scope="col">Medicin Name</th>
                          <th scope="col">Purchased quantity</th>
                          <th scope="col">Saled quantity</th>
                          <th scope="col">Total Count</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if stock_data %}
                        {% for med_details in stock_data %}
                        <tr>
                          <td><input type="checkbox" name="selected_rows" value="{{ loop.index0 }}"></td>
                          <th scope="row">{{ loop.index0 + 1 }}</th>
                          <td>{{ med_details['Medicine'] }}</td>
                          <td>{{ med_details['Purchased quantity'] }}</td>
                          <td>{{ med_details['Saled quantity'] }}</td>
                          <td>{{ med_details['Total Count'] }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                      </tbody>
                </table>
          </div>
      </div>



{% endblock body %}
