{% extends 'base.html' %}
{% block body %}

<div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>Manage Stock</h1>
        <button type="button" class="btn btn-outline-primary">Low Quantity</button>
        <button type="button" class="btn btn-outline-danger">Show all</button>
        <a href='/adminpanel'><button type="button" class="btn btn-outline-warning">Admin page</button></a>
      </div>
      <div class="col-8">
        <form class="d-flex flex-column mt-3" role="search" method="post" action="/SSearch">
            <input class="form-control me-2" id="input-box" name="SSearch" type="search" placeholder="Search" aria-label="Search">
            <div class="result-box2 mt-2"></div>
            <button class="btn btn-outline-success align-self-start" type="submit">Search</button>
          </form>
          <div style='overflow:scroll; width:850px;height:600px;'>
                <table class="table">
                    <thead>
                        <tr>
                          <th></th>
                          <th scope="col">Sr.No</th>
                          <th scope="col">Medicin Name</th>
                          <th scope="col">Purchased quantity</th>
                          <th scope="col">Saled quantity</th>
                          <th scope="col">Total Count</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if stock_data %}
                        {% for med_details in stock_data %}
                        <tr>
                          <td><input type="checkbox" name="selected_rows" value="{{ loop.index0 }}"></td>
                          <th scope="row">{{ loop.index0 + 1 }}</th>
                          <td>{{ med_details['Medicine'] }}</td>
                          <td>{{ med_details['Purchased quantity'] }}</td>
                          <td>{{ med_details['Saled quantity'] }}</td>
                          <td>{{ med_details['Total Count'] }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                      </tbody>
                </table>
          </div>
      </div>
      <script>

    function initializeAvailableKeywords() {
        availableKeywords = {{medname | safe }}
        console.log('availableKeywords',availableKeywords);
    }
    initializeAvailableKeywords();
    const resultbox = document.querySelector(".result-box2");
    const inputBox = document.querySelector("#input-box");
    inputBox.onkeyup = function () {
        let result = [];
        let input = inputBox.value;
        console.log(input);
        if (input.length) {
            result = availableKeywords.filter((keyword) => {
                return keyword.toString().toLowerCase().includes(input.toLowerCase());
            });
            console.log(result);
        }
        display(result);
        if (!result.length) {
            resultbox.innerHTML = '';
        }
    };

    // Function to display filtered keywords
    function display(result) {
        const content = result.map((list) => {
            return "<li onclick=selectinput(this)>" + list + "</li>";
        });
        resultbox.innerHTML = "<ul>" + content.join("") + "</ul>";
    }

    // Function to select input
    function selectinput(list) {
    console.log("Selected list item: ", list.innerHTML);
    inputBox.value = list.innerHTML;
    resultbox.innerHTML = '';
    inputBox.dispatchEvent(new Event('keyup'));
    resultbox.innerHTML = '';
}
    </script>


{% endblock body %}
